<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Password Reset</h1>
      <form action="/reset-password" method="post" onsubmit="submitForm(event)">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required />

        <label for="confirmPassword">Confirm Password:</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
        />
        <button type="submit">Reset Password</button>
      </form>
    </div>

    <script>
      // JavaScript function to handle form submission
      function submitForm(event) {
        event.preventDefault();
        const currentUrl = window.location.href;

        const pathname = new URL(currentUrl).pathname;

        const parts = pathname.split("/");
        const lastValue = parts[parts.length - 1];
        const current  = parts[parts.length - 2];
        // Get form data
        // console.log("last value is " + lastValue);
        const password = document.getElementById("password").value;
        const confirmPassword =
          document.getElementById("confirmPassword").value;

        // console.log(password);
        const requestData = {
          password: password,
          confirmPassword: confirmPassword,
        };
        const baseUrl = `https://legal-bridge-api.onrender.com/api/v1/auth/resetPassword/${current}`;

        // Assuming you have the last value stored in a variable
        const finalUrl = `${baseUrl}/${encodeURIComponent(lastValue)}`;
        // console.log(`final url ${finalUrl}`);

        // Make an API request using fetch
        console.log(finalUrl);
        fetch(finalUrl, {
          method: "PATCH",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(requestData),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("API response:", data);
            if(data.error){
              alert(`${data.error.message}. Please click OK to retry`);
              window.location.href = finalUrl;
            }
            else{
              window.location.href = "/api/v1/auth/message"
            }
        
          })
          .catch((error) => {
            alert(`Something went wrong. Please try again for password Reset`);
            window.location.href = finalUrl;
          });
      }

      function showToast(type, message) {
      Toastify({
        text: message,
        duration: 3000,
        gravity: 'top', // 'top' or 'bottom'
        position: 'right', // 'left', 'center', or 'right'
        backgroundColor: type === 'success' ? '#2ecc71' : '#e74c3c',
        stopOnFocus: true,
        close: true,
        className: 'custom-toast',
      }).showToast();
    }
    </script>
  </body>
</html>
